<!DOCTYPE html>{% extends "index.html" %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body> {% block content %} {% csrf_token %}

    <form method="POST" action="/addcontact/"> {% csrf_token %}

        <label for="name">Name:</label><br>
        <input type="text" name="name"><br>
        <label for="contactnum">Contact:</label><br>
        <input type="text" name="contactnum">
        <button type="Submit" class="btn btn-primary">Submit Details</button>

</body>

</html>{% endblock %}